

<section class="footer container">
    <div class="footer-content">
        <div class="links">
            <a [routerLink]="'about'" [fragment]="'about-section'">About</a>
            <a [routerLink]="'experience'" [fragment]="'experience-section'">Experience</a>
            <a [routerLink]="'projects'" [fragment]="'projects-section'">Projects</a>
            <a [routerLink]="'skills'" [fragment]="'skills-section'" >Skills</a>
        </div>

        <div class="social-media">
            <a target="_blank" href="https://github.com/ganeshkale07"><img src="../../assets/icons8-github.svg" alt="" srcset=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/ganesh-kale-61b592138/"><img src="../../assets/icons8-linkedin-logo.svg" alt="" srcset=""></a>
            <a target="_blank" href="mailto:ggkale07@gmail.com"><img src="../../assets/icons8-gmail.svg" alt="" srcset=""></a>
            <!-- <a target="_blank" href="https://icons8.com"><img src="../../assets/icons8-github.svg" alt="" srcset=""></a> -->


        </div>
    </div>

    <p>&copy; 2023 Ganesh.&lcub;dev&rcub; | All rights reserved.</p>
</section>


