<section class="container" id="about-section" >
    <div class="hero-info">
      <p class="intro">
        <span class="text-color-900">Hey , </span>
        <span class="text-color-900"> Ganesh Kale here</span>
      </p>
      <ul class="custom-bullet">
        <li>Front-end developer with <b>3.10</b> year of experience</li>
        <li>Worked on development methodologies like Scrum and Agile</li>
        <li>Familiar with software best practices during various phases of Software lifecycle</li>
        <li>Strong interest in <b>MEAN</b> stack my projects speak about it</li>
      </ul>
      <div class="social-media">
        <a target="_blank" href="https://github.com/ganeshkale07"><img src="../../assets/icons8-github.svg" alt="" srcset=""></a>
        <a target="_blank" href="https://www.linkedin.com/in/ganesh-kale-61b592138/"><img src="../../assets/icons8-linkedin-logo.svg" alt="" srcset=""></a>
        <a target="_blank" href="mailto:ggkale07@gmail.com"><img src="../../assets/icons8-gmail.svg" alt="" srcset=""></a>

    </div>
    </div>
    <div class="hero-img">
      <a>
        <img src="../../assets/orange_shirt_coder.svg" alt="hero-img">
      </a>
    </div>
</section>