<section class="container" id="experience-section">
  <div class="section-header-cont"> 
    <h2 class="text-color-900 section-header">Experience </h2>
  </div>
    <div class="section-content" #experience-section>
      <!-- completed -->
      <div class="step active">
        <div class="v-stepper">
          <div class="circle"></div>
        </div>
  
        <div class="card">
          <b class="designation text-highlight-sub-point">BNSF ENTERPRISE GIS - Front-end developer</b>
          <i class="duration text-color-timeline"> Aug 2022 - Present | Capgemini</i>
          <p class="worked-upon">Worked on change management application embedded with Esri ArcGIS Web map which provides an intriguing user experience.
            With Esri map integration & SPA (single page application), UI & UX
            elevated by 100 % which caused a complete shift from the older application</p>
          <b class="project-learning">Tech - Angular 13 | Typescript | SQL | Esri Arcgis Javascript API</b>
        </div>

      </div>
    
    <!-- active -->
    <div class="step completed two">
      <div class="v-stepper">
        <div class="circle"></div>
      </div>

      <div class="card">
        
        <b class="designation text-highlight-sub-point">HONEYWELL - Front-end developer</b>
        <i class="duration text-color-timeline"> May 2021 – Jul 2022 | Capgemini</i>
        <p class="worked-upon">Worked on implementing complex functionality, creating web pages and styling
          them for an E-commerce website.Got a chance to work on Bitbucket, Cultivated team player values,
          Familiarise with agile methodologies</p>
          <b class="project-learning">Tech - Vanilla Javascript | jQuery | Less | HTML | JSP | Bitbucket</b>

      </div>

    </div>
    
      <!-- empty -->
      <div class="step completed">
        <div class="v-stepper">
          <div class="circle"></div>
        </div>
  
        <div class="card">
          <b class="designation text-highlight-sub-point">Amgen - Front-end developer</b>
          <i class="duration text-color-timeline"> Jul 2020 - Apr 2021 | Capgemini</i>
          <p class="worked-upon">Styling and building web pages from scratch. Basic functionality and animation implemented on same.</p>
            <b class="project-learning">Tech - Bootstrap | CSS | HTML | jQuery</b>
        </div>

      </div>
  

    </div>
    
  </section>
  