 .step {
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   background-color: cream;
   width: 50%;
   transform: translateX(-100%);
   filter: blur(5px);
   transition: all 1s;
 }

 .highlight {
   filter: blur(0);
   transform: translateX(0);
 }

 .section-content {
   display: flex;
   flex-direction: column;
 }



 .step.completed.two {
   align-self: flex-end;
 }




 .card {
   width: 100%;
   margin-left: 20px;
   display: inline-block;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 15px;
   border-left: 4px solid #7E57C2;
   position: relative;
   border-radius: 20px;

   .duration {
     position: absolute;
     right: 0;
     margin-right: 10px;
   }

   .worked-upon {
     margin-top: 10px;
   }

 }

 @media (prefers-reduced-motion) {
   .step {
     transition: none;
   }
 }