 .step {

   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   background-color: cream;
   width: 50%;
 }

 .v-stepper {
   position: relative;
 }


 /* regular step */
 .step .circle {
   background-color: white;
   border: 3px solid gray;
   border-radius: 100%;
   width: 20px;
   /* +6 for border */
   height: 20px;
   display: inline-block;
 }

 .section-content{
  display: flex;
  flex-direction: column;
 }


 .step.completed .circle {
   visibility: visible;
   background-color: #7E57C2;
   border-color: #7E57C2;
 }
 .step.completed.two{
  align-self: flex-end;
 }


 .step.active .circle {
   visibility: visible;
   border-color: #7E57C2;
 }

 .step.empty .circle {
   visibility: hidden;
 }

 .card {
   width: 100%;
   margin-left: 20px;
   display: inline-block;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 15px;
   border-left: 3px solid #7E57C2;
   position: relative;

   .duration {
     position: absolute;
     right: 0;
     margin-right: 10px;
   }

   .worked-upon {
     margin-top: 10px;
   }

 }