.card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 2px solid #9575CD;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    div.left-img-cont {
        flex-grow: 1;
        max-width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    div.right-info-cont {
        flex-grow: 4;
    }

    /* Global Styles */
    ul {
        list-style-type: none;
        padding: 0;
    }

    ul.custom-bullet {
        padding-left: 20px;
    }

    ul.custom-bullet li {
        position: relative;
        padding-left: 25px;
        margin-bottom: 40px;
        line-height: 1.7rem;
    }

    ul.custom-bullet li::before {
        content: "\2022";
        position: absolute;
        left: 0;
        color: #7E57C2;
        font-size: 3rem;
        line-height: 0.5;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card {

        flex-direction: row;
        max-width: 100%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;

        img {
            height: auto;
            display: block;
        }

        div.left-img-cont {
            max-width: 35rem;
        }

        .visit-link {
            padding-left: 2rem;
        }

    }
}