<section class="container" id="projects-section">
  <div class="section-header-cont"> 
    <h2 class="text-color-900 section-header">My Personal Projects </h2>
  </div>
  
  <mat-tab-group fitInkBarToContent>
    <mat-tab label="KHABAR"> 
      <div class="card">
        <div class="left-img-cont">
          <img src="../../assets/web_dev.jpg" alt="image" />
        </div>
        <div class="right-info-cont">
          <ul class="custom-bullet">
            <li><b class="text-highlight-sub-point">About - </b><span>Integrated third-party News API along with storing userinformation,
              JWT Token on non-SQL database
              </span></li>
            <li><b class="text-highlight-sub-point">Functionality - </b> <span> authentication,registration,
              logout, search bar, personalized feed, pagination features</span></li>
            <li><b class="text-highlight-sub-point">Techology - </b> <span>MEAN stack, Angular, Typescript,   NodeJs, ExpressJs,
              MongoDB
              </span></li>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="RepairIt">      
    <div class="card">
      <div class="left-img-cont">
        <img src="../../assets/web_dev.jpg" alt="image" />
      </div>
      <div class="right-info-cont">
        <ul class="custom-bullet">
          <li><b class="text-highlight-sub-point">About - </b><span>Ecommerce website for electronic devices
            </span></li>
          <li><b class="text-highlight-sub-point">Functionality - </b> <span>Add product to cart,Update cart product, placed an order</span></li>
          <li><b class="text-highlight-sub-point">Techology - </b> <span>Angular, NgRx state management library, Rxjs, Typescript, HTML, CSS
            </span></li>
        </ul>
      </div>
    </div> </mat-tab>
    <mat-tab label="LOAN MANAGER"> 
      <div class="card">
        <div class="left-img-cont">
          <img src="../../assets/web_dev.jpg" alt="image" />
        </div>
        <div class="right-info-cont">
          <ul class="custom-bullet">
            <li><b class="text-highlight-sub-point">About - </b><span>CRUD application which works on enterprise customer data
              </span></li>
            <li><b class="text-highlight-sub-point">Functionality - </b> <span> Implemented angular services forfetching data and binding it with
              template along with server-side error handling
              </span></li>
            <li><b class="text-highlight-sub-point">Techology - </b> <span>MEAN stack, Angular, Typescript, NodeJs, ExpressJs,
              MongoDB
              </span></li>
          </ul>
        </div>
      </div> </mat-tab>
  </mat-tab-group>
</section>
