<div class="container">
  <h3>Some of my latest work</h3>
  
  <mat-tab-group fitInkBarToContent>
    <mat-tab label="First"> 
      <div class="card">
        <div class="left-img-cont">
          <img src="../../assets/web_dev.jpg" alt="image" />
        </div>
        <div class="right-info-cont">
          <ul>
            <li>one</li>
            <li>one</li>
            <li>one</li>
            <li>one</li>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
