<section class="container" id="projects-section">
  <div class="section-header-cont"> 
    <h2 class="text-color-900 section-header">My Personal Projects </h2>
  </div>
  
  <mat-tab-group fitInkBarToContent>
    <mat-tab label="KHABAR"> 
      <div class="card">
        <div class="left-img-cont">
          <img src="../../assets/NewsApp.PNG" alt="image" />
        </div>
        <div class="right-info-cont">
          <ul class="custom-bullet">
            <li><span class="text-highlight-sub-point">About - </span><span>A News App Integrated with third-party News API along with storing user information,
              JWT Token on non-SQL database
              </span></li>
            <li><span class="text-highlight-sub-point">Functionality - </span> <span> Authentication, Registration, Logout, Search bar, Personalized feed, Pagination features</span></li>
            <li><span class="text-highlight-sub-point">Techology - </span> <span>MEAN stack, Angular, Typescript,   NodeJs, ExpressJs,
              MongoDB
              </span></li>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="RepairIt">      
    <div class="card">
      <div class="left-img-cont">
        <img src="../../assets/RepairIt1.PNG" alt="image" />
      </div>
      <div class="right-info-cont">
        <ul class="custom-bullet">
          <li><span class="text-highlight-sub-point">About - </span><span>A E-commerce website for electronic devices
            </span></li>
          <li><span class="text-highlight-sub-point">Functionality - </span> <span>Adding product to cart, Update Qty of products on cart, Placing an order</span></li>
          <li><span class="text-highlight-sub-point">Techology - </span> <span>Angular, NgRx state management library, Rxjs, Typescript, HTML, CSS
            </span></li>
        </ul>
        <!-- <a href="/" class="visit-link"><i>visit website</i></a> -->
      </div>
    </div> </mat-tab>
    <mat-tab label="LOAN MANAGER"> 
      <div class="card">
        <div class="left-img-cont">
          <img src="../../assets/web_dev.jpg" alt="image" />
        </div>
        <div class="right-info-cont">
          <ul class="custom-bullet">
            <li><span class="text-highlight-sub-point">About - </span><span>CRUD application which works on enterprise customer data
              </span></li>
            <li><span class="text-highlight-sub-point">Functionality - </span> <span> Implemented angular services for fetching data and binding it with
              template along with server-side error handling
              </span></li>
            <li><span class="text-highlight-sub-point">Techology - </span> <span>MEAN stack, Angular, Typescript, NodeJs, ExpressJs,
              MongoDB
              </span></li>
          </ul>
        </div>
      </div> </mat-tab>
  </mat-tab-group>
</section>
