<div class="progress-element container">
  <h3 style="text-align: center">Skill Set</h3>
  <table>
    <tr>
      <td><b class="progress-label">HTML</b></td>
      <td>
        <div class="progress-container progress-container_75">
          <progress max="100" value="75">90%</progress>
        </div>
      </td>
    </tr>
    <tr>
      <td><b class="progress-label">CSS</b></td>
      <td>
        <div class="progress-container progress-container_90">
          <progress max="100" value="75">90%</progress>
        </div>
      </td>
    </tr>
    <tr>
      <td><b class="progress-label">Javascript</b></td>
      <td>
        <div class="progress-container progress-container_85">
          <progress max="100" value="75">85%</progress>
        </div>
      </td>
    </tr>
    <tr>
      <td><b class="progress-label">Angular 13</b></td>
      <td>
        <div class="progress-container progress-container_85">
          <progress max="100" value="75">85%</progress>
        </div>
      </td>
    </tr>
    <tr>
      <td><b class="progress-label">TypeScript</b></td>
      <td>
        <div class="progress-container progress-container_75">
          <progress max="100" value="75">75%</progress>
        </div>
      </td>
    </tr>
    <tr>
      <td><b class="progress-label">Node Js</b></td>
      <td>
        <div class="progress-container progress-container_">
          <progress max="100" value="75">40%</progress>
        </div>
      </td>
    </tr>
    <tr>
      <td><b class="progress-label">SQL</b></td>
      <td>
        <div class="progress-container progress-container_">
          <progress max="100" value="75">50%</progress>
        </div>
      </td>
    </tr>
  </table>
</div>
