<section class="progress-element container" id="skills-section">
    <div class="section-header-cont"> 
      <h2 class="text-color-900 section-header">Skill Set </h2>
    </div>
    <div class="section-content" appIntersectionObservableDirective (intersected)="handleIntersection($event)">
      <p #skill_tag><a href="https://icons8.com"><img src="../../assets/icons8-angular.svg" alt="skill-image" srcset=""></a></p>
      <p #skill_tag><a href="https://icons8.com"><img src="../../assets/icons8-typescript.svg" alt="skill-image" srcset=""></a></p>
      <p #skill_tag><a href="https://icons8.com"><img src="../../assets/icons8-js-480.svg" alt="skill-image" srcset=""></a></p>
      <p #skill_tag><a href="https://icons8.com"><img src="../../assets/icons8-html.svg" alt="skill-image" srcset=""></a></p>
      <p #skill_tag><a href="https://icons8.com"><img src="../../assets/icons8-css.svg" alt="skill-image" srcset=""></a></p>
      <p #skill_tag><a href="https://icons8.com"><img src="../../assets/icons8-nodejs.svg" alt="skill-image" srcset=""></a></p>
      <p #skill_tag><a href="https://icons8.com"><img src="../../assets/icons8-sql-80.png" alt="skill-image" srcset=""></a></p>
    </div>
</section>
