.section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;

    p img {
        max-width: 4rem;
        max-height: 4rem;
        border-radius: 15px;
        box-shadow: -2px -2px 3px 0 rgba(0, 0, 0, 0.2), 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
        padding: 2rem;
    }
}