<nav class="container">
  <p class="logo" [routerLink]="'about'" [fragment]="'about-section'">Ganesh.&lcub;Dev&rcub; </p>
  <ul [ngStyle]="{'display' : isMobileView ? 'none' :'block' }">
    <li><a [routerLink]="'about'" [fragment]="'about-section'">About</a></li>
    <li><a [routerLink]="'experience'" [fragment]="'experience-section'">Experience</a></li>
    <li><a [routerLink]="'projects'" [fragment]="'projects-section'">Projects</a></li>
    <li><a [routerLink]="'skills'" [fragment]="'skills-section'" >Skills</a></li>
  </ul>
  <span class="hamburger-icon" (click)="hambugerMenuClick()">&#9776;</span>
</nav>
<app-about></app-about>
<app-experience></app-experience>
<app-projects></app-projects>
<app-skills></app-skills>
<app-footer></app-footer>
